@use "../abstracts" as *;

body {
  font-family: $font-family;
  line-height: map-get($line-heights, normal);
}

.h2 {
  font-size: map-get($font-sizes, "2xl");
  margin: 0;
}

.h3 {
  font-size: map-get($font-sizes, xl);
  margin: 0;
}

.muted {
  color: var(--muted);
}
