@use "../abstracts" as *;

.card {
  @extend %card-base;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
  }
}
