@use "../abstracts" as *;

.grid {
  display: grid;
  gap: 1rem;

  &--stats {
    grid-template-columns: 1fr;

    @include respond(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--main {
    grid-template-columns: 1fr;

    @include respond(lg) {
      grid-template-columns: 1.4fr 1fr;
    }
  }

  &--settings {
    grid-template-columns: 1fr;

    @include respond(lg) {
      grid-template-columns: 1.3fr 1fr;
    }
  }
}
