@use "../abstracts" as *;

.topbar {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1.25rem;

  &__actions {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
